/*div{
	background: deepskyblue;
	height: 300px;
	width: 100%;
}*/
/*div
{
	height: 300px;
	width: 100%;
	background: linear-gradient(red,blue,green,black,white);
}*/
/*div
{
	height: 400px;
	width: 100%;
	background: radial-gradient(red,orange,yellow,green,blue,indigo,violet);
}*/
div
{
	height: 400px;
	width: 100%;
	/*background: linear-gradient(to top,red,blue,green,yellow,black,deepskyblue);*/
	/*background: linear-gradient(to bottom,red,blue,green,yellow,black,deepskyblue);
*/
	/*background: linear-gradient(to right,red,blue,green,yellow,black,deepskyblue);*/
	/*background: linear-gradient(to left,red,blue,green,yellow,black,deepskyblue);*/
	/*background: linear-gradient(120deg,red,blue,green,yellow,black,deepskyblue);*/
	background: linear-gradient(red 20%,blue 20%,green,yellow,black,deepskyblue);
     
}


