@media(max-width: 1100px)
{
	.main-container .slider {width: 100%;}
	.menu1 .menu-header{width: 80%; height: 150px; text-align: justify;overflow: auto;}
	.menu-icon{margin-top: -80px; margin-left: 850px;}
	.menu-container{margin: 0; height: 350px;}
	.menu-container .menu-left,.menu-right{margin: 15px;}
	/*after resolution 700px .menu2 .menu-header{width: 100%; height: 150px; text-align: justify;overflow: auto;} */
	.main-booktable2 .booktable{width: 80%; height: 150px; text-align: center; overflow: auto;}
	.people-say .People1,.People2,.People3{height: 300px;width: 275px; margin: 25px auto;}
}
@media(max-width: 900px)
{
	.main-container .slider-info {width: 100%; margin-left: 25px; text-align: left;}
	.slider-info button{margin-left: 300px;}
	.st-logo{display: none;}
	.menu-icon{margin-top: -300px; margin-left: 750px;}
	.menu1 .menu-header{width: 80%; height: 150px; text-align: justify;overflow: auto;}
	.menu-container{margin: 0; height: 350px;}
	.menu-container .menu-left,.menu-right{margin-left: -20px; }
	.main-booktable2 .booktable{width: 80%; height: 150px; text-align: center; overflow: auto;}
	.menu3{margin-top: 55%;}
	.people-say .People1{height: 300px;width: 50%;margin-left: 50px;  border: 2px solid;}
	.people-say .People2{height: 300px; width: 50%;border: 2px solid;margin-left: 50px;}
	.people-say .People3{height: 300px; width: 50%;border: 2px solid;margin-left: 50px;}
	.footer .footer-box1,.footer-box2,.footer-box3{width: 50%;}
	.footer ..footer-box4{width: 100%;padding-top: -250px;}
}
@media (max-width: 700px)
{
	.main-container .slider-info {width: 100%; margin-left: 25px; text-align: left;}
	.menu1 .menu-header{width: 100%;  text-align:left;}
	.menu-icon{margin-top: -300px; margin-left: 400px;}
	.menu-container .menu-left,.menu-right{width: 100%;}
	.main-booktable1{margin-top: 30%;}
	.background1 .booktable{width: 100%; text-align: left;}
	.button{margin-left: 200px;}
	.main-booktable2{margin-top: 30%;}
	.booktable{text-align: left; margin-left: 10px;}
	.people-say{margin-left: 0px;}
	.People1{text-align: left; width: 100%; border: 2px solid;}
	.People2{ width: 80%; border: 2px solid;}
	.People3{ width: 60%; border: 2px solid;}
	.menu3{margin-top: 55%;}
	.footer{margin-top: 30%;}
	.footer-box4{text-align: left;}
}